body{
  font-family: sans-serif;
}

#chatbox{
    height:200px;
    max-width: 400px;
    overflow: scroll; 
  }

#chat{
  margin: 20px;
  padding: 20px;
  border-style: solid;
  border-color: rgb(228, 228, 228);
}

li{ list-style-type: none;}

#chatAuswahl{
  height: 200px;
  max-width: 100px;

  
}